<style media="screen">
body{
  background-color: white
}
</style>
<header class="header">
  <header id="header">
    <a href="#" class="logo">Welcome Back: <%=@user.first_name%><br>
     Amount Needed:<%=@user.money%><br>
     <%if @user.raised%>
     Raised:<%=@user.raised%>
     <%else%>
     Raised:No Money!
     <%end%>
   </a>
  </header>
  <a href="/logout">Logout!</a>
</header>

<h2>List of people who lent you money</h2>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>email</th>
      <th>Amount Lent</th>
    </tr>
  </thead>
  <tbody>
    <%@lenders.each do |l|%>
    <tr>
      <td><%=l.lender.first_name%></td>
      <td><%=l.lender.email%></td>
      <td><%=l.amount%></td>
    </tr>
    <%end%>

  </tbody>
</table>
